Updated 2 May 2020
<p>
<img align="top" border=2 src="covid19/p1-daily.png?STRING">
<img align="top" border=2 src="covid19/p1-cumulative.png?STRING">
<img align="top" border=2 src="covid19/p1-cumulative-abs.png?STRING">
<p>
<img align="top" border=2 src="covid19/county-cumulative.png?STRING">
<p>
<img align="top" border=2 src="covid19/county-daily.png?STRING">
<p>Our World in Data plots I find particularly informative:
<p><a href="https://ourworldindata.org/grapher/total-deaths-covid-19?yScale=log&country=COUNTRIES">Cumulative deaths</a>
<p><a href="https://ourworldindata.org/grapher/total-covid-deaths-per-million?tab=chart&yScale=log&country=COUNTRIES">Cumulative deaths per million people</a>
<p><a href="https://ourworldindata.org/grapher/daily-deaths-covid-19?tab=chart&yScale=log&country=COUNTRIES">Daily new deaths</a>
<p><a href="https://ourworldindata.org/grapher/new-covid-deaths-per-million?tab=chart&yScale=log&country=COUNTRIES">Daily new deaths per million people</a>
<p><a href="https://ourworldindata.org/grapher/total-cases-covid-19?tab=chart&yScale=log&country=COUNTRIES">Cumulative cases</a>
<p><a href="https://ourworldindata.org/grapher/daily-cases-covid-19?tab=chart&yScale=log&country=COUNTRIES">Daily new cases</a>
<p>
Some other states
<p>
<img align="top" border=2 src="covid19/p1a-daily.png?STRING">
<img align="top" border=2 src="covid19/p1a-cumulative.png?STRING">
<img align="top" border=2 src="covid19/p1a-cumulative-abs.png?STRING">
<p>from <a href="https://github.com/ambrad/amb-utils/tree/cov19/covid19">this github repo/branch</a>
<p>state data: <a href="https://covidtracking.com/api/v1/states/daily.json">https://covidtracking.com/api/v1/states/daily.json</a>
<p>county data: <a href="https://github.com/nytimes/covid-19-data">https://github.com/nytimes/covid-19-data</a>
