Updated 10 June 2020
<p>
<img align="top" border=2 src="covid19/p1-daily.png?STRING">
<img align="top" border=2 src="covid19/p1-cumulative.png?STRING">
<img align="top" border=2 src="covid19/p1-cumulative-abs.png?STRING">
<p>
County data
<p>
<img align="top" border=2 src="covid19/county-cumulative.png?STRING">
<p>
<img align="top" border=2 src="covid19/county-daily.png?STRING">
<p>Our World in Data plots I find particularly informative:
<p><a href="https://ourworldindata.org/grapher/total-deaths-covid-19?yScale=log&country=COUNTRIES">Cumulative deaths</a>
<p><a href="https://ourworldindata.org/grapher/total-covid-deaths-per-million?tab=chart&yScale=log&country=COUNTRIES">Cumulative deaths per million people</a>
<p><a href="https://ourworldindata.org/grapher/daily-deaths-covid-19?tab=chart&yScale=log&country=COUNTRIES">Daily new deaths</a>
<p><a href="https://ourworldindata.org/grapher/new-covid-deaths-per-million?tab=chart&yScale=log&country=COUNTRIES">Daily new deaths per million people</a>
<p><a href="https://ourworldindata.org/grapher/daily-covid-deaths-per-million-7-day-average?tab=chart&yScale=log&country=COUNTRIES">Daily new deaths per million people, moving 7-day average</a>
<p><a href="https://ourworldindata.org/grapher/total-cases-covid-19?tab=chart&yScale=log&country=COUNTRIES">Cumulative cases</a>
<p><a href="https://ourworldindata.org/grapher/daily-cases-covid-19?tab=chart&yScale=log&country=COUNTRIES">Daily new cases</a>
<p>
Some other states
<p>
<img align="top" border=2 src="covid19/p1a-daily.png?STRING">
<img align="top" border=2 src="covid19/p1a-cumulative.png?STRING">
<img align="top" border=2 src="covid19/p1a-cumulative-abs.png?STRING">
<p>
Many more states
<p>
<img align="top" border=2 src="covid19/p1locfr-cumulative.png?STRING">
<img align="top" border=2 src="covid19/p1hicfr-cumulative.png?STRING">
<p>
<img align="top" border=2 src="covid19/p1locfr-cumulative-abs.png?STRING">
<img align="top" border=2 src="covid19/p1hicfr-cumulative-abs.png?STRING">
<p>
<img align="top" border=2 src="covid19/p1locfr-daily.png?STRING">
<img align="top" border=2 src="covid19/p1hicfr-daily.png?STRING">
<p> States at a glance. Blue is positive cases; red is deaths. Y axis is linear. <b>Thick lines</b>: Numbers are per capita. The Y axis is the same for every state; per capita numbers can be compared between states. Deaths and cases are not on the same scale. <b>Thin lines</b> cannot be compared between states; they are intended to show within-state trends as a function of time. Cumulative and daily.
<p><img align="top" border=2 src="covid19/glance-cumulative.png?STRING">
<p><img align="top" border=2 src="covid19/glance-daily.png?STRING">
<p>from <a href="https://github.com/ambrad/amb-utils/tree/cov19/covid19">this github repo/branch</a>
<p>state data: <a href="https://covidtracking.com/api/v1/states/daily.json">https://covidtracking.com/api/v1/states/daily.json</a>
<p>county data: <a href="https://github.com/nytimes/covid-19-data">https://github.com/nytimes/covid-19-data</a>
